language: java

jdk:
  - openjdk15

sudo: false

# после выполнения сборки запустить скрипт, который будет собирать статистику по JaCoCo
# Здесь используется сторонний сервис https://codecov.io/
after_success:
    - bash <(curl -s https://codecov.io/bash)

notifications:
  email:
    recipients:
      - arsudakov@gmail.com
    on_success: always # default: change
    on_failure: always # default: always

env:
  global:
    - CODECOV_TOKEN="76671566-7acd-4ef6-a24a-c90d2708ba5c"
